/* media queries for responsive portfolio. This doesn't /have/ to be seperate from style.css but I like to keep things catagorized. and it makes it easy to make sure they're at the bottom. */

/* the sample dimentions are 640, 768, and 980 */


/* NAVBAR */

header {
    padding: 0px;
    margin: 0px;
}

.navbar {
    padding: 0px;
}

.navbar-brand {
    padding: 15px;
    margin: 0px;
}

nav {
    padding: 0px;
}

/* MAIN SECTION */

.container section {
    padding: 20px;
    margin: 20px;
    float: left;
}

.main-section {
    max-width: 700px;
}

#aboutPhoto {
    width: 375px;
}

/* SIDEBAR */

.sidebar {
    max-height: 200px;
    min-width: 300px;
}

.sidebar h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.sidebar a img {
    max-width: 75px;
}

